<!-- Start Dynamic Suite Template -->
<!DOCTYPE html>
<html>
<head>
    <title>%HTML_TITLE%</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <base href="%HTML_BASE%" target="_blank" />
    <link href="client/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="client/css/bootstrap.min.css" rel="stylesheet" />
    <link href="client/css/font-awesome.min.css" rel="stylesheet">
    <link href="client/css/dynamicsuite4.css" rel="stylesheet" />
    %HTML_CSS%
    <script src="client/js/jquery.min.js"></script>
    <script src="client/js/bootstrap.min.js"></script>
    <script src="client/js/dynamicsuite4.js"></script>
    %HTML_JS%
</head>
<body>