<div class="ds-scheduler-tasks">
<h4 id="info-toggle" data-toggle="collapse" data-target="pre"><i class="fa fa-info-circle"></i></h4>
<pre class="collapse">
Schedule Formatting

  ┌───────── min (0 - 59)
  │ ┌────────── hour (0 - 23)
  │ │ ┌─────────── day of month (1 - 31)
  │ │ │ ┌──────────── month (1 - 12)
  │ │ │ │ ┌───────────── day of week (0 - 6)
  │ │ │ │ │
  │ │ │ │ │
  * * * * *

Where * indicates every

Tasks run as the apache user, not intended for root tasks.</pre>
    <button class="btn btn-primary" id="add-task-modal">Add Task</button>
    <div id="top-entry"></div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Task</th>
                <th>Command</th>
                <th>Schedule</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal"><span>&times;</span></button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <div class="container col-sm-12 schedule-area">
                        <div class="form-group col-sm-12 DESC_FAIL">
                            <label for="description">Description</label>
                            <input type="text" class="form-control" id="description">
                        </div>
                    </div>
                    <div class="container col-sm-12 schedule-area">
                        <div class="form-group col-sm-6 CMD_FAIL">
                            <label for="command">Command</label>
                            <input type="text" class="form-control" id="command">
                        </div>
                        <div class="form-group col-sm-6 ARG_FAIL">
                            <label for="argument">Argument</label>
                            <input type="text" class="form-control" id="argument">
                        </div>
                    </div>
                    <div class="container col-sm-12 schedule-area">
                        <div class="form-group col-sm-6 MIN_FAIL">
                            <label for="minute">Minute</label>
                            <input type="text" class="form-control" id="minute" placeholder="0 - 59">
                        </div>
                        <div class="form-group col-sm-6 HR_FAIL">
                            <label for="hour">Hour</label>
                            <input type="text" class="form-control" id="hour" placeholder="0 - 23">
                        </div>
                    </div>
                    <div class="container col-sm-12 schedule-area">
                        <div class="form-group col-sm-4 DOM_FAIL">
                            <label for="day-of-month">Day of Month</label>
                            <input type="text" class="form-control" id="day-of-month" placeholder="1 - 31">
                        </div>
                        <div class="form-group col-sm-4 MONTH_FAIL">
                            <label for="month">Month</label>
                            <input type="text" class="form-control" id="month" placeholder="1 - 12">
                        </div>
                        <div class="form-group col-sm-4 DOW_FAIL">
                            <label for="day-of-week">Day of Week</label>
                            <input type="text" class="form-control" id="day-of-week" placeholder="0 - 6">
                        </div>
                    </div>
                    <div class="container col-sm-12 schedule-area">
                        <i class="col-sm-12">Use * to indicate every</i>
                    </div>
                    <div id="alert-entry">&nbsp;</div>
                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>

</div>