<div class="ds-logs-view">

    <div class="col-sm-12">
        <div class="alert alert-warning" role="alert">
            <i>
                This page only gives a quick view at the last 2000 events.
                For more in depth searching and history,
                it is recommended to use some kind of SQL browser.
                Refer to documentation for type code descriptions.
            </i>
        </div>
    </div>

    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Timestamp</th>
            <th>Type</th>
            <th>Creator</th>
            <th>Affected</th>
            <th>Event</th>
            <th>IP</th>
        </tr>
        </thead>
        <tbody>{{tbody}}</tbody>
    </table>

</div>