<div class="ds-group-edit">
    <h3>Edit Group</h3>
    <input value="{{group}}" type="hidden" id="group-old" name="group-old">
    <div class="form-group group-grp">
        <label for="group">Group Name</label>
        <input value="{{group}}" type="text" class="form-control" id="group" name="group">
    </div>
        <div class="form-group description-grp">
            <label for="description">Description</label>
            <input value="{{description}}" type="text" class="form-control" id="description" name="description">
        </div>
    <form>
    {{body}}
    </form>
    <button class="btn btn-primary">Update Group</button>
    <button class="btn btn-danger" data-toggle="modal" data-target="#delete-group">Delete Group</button>

    <div class="modal fade" id="delete-group">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                    <h4 class="modal-title">Delete Group</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete the group <strong>{{group}}</strong>?</p>
                    <p>
                        Event logs for the group will NOT be deleted and it will be
                        detached from any users
                    </p>
                    <p><i>This cannot be undone!</i></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger">Delete Group</button>
                </div>
            </div>
        </div>
    </div>

</div>