<div class="ds-group-list">

    <div class="col-sm-12" id="header-area">
        <button class="btn btn-primary">Add Group</button>
    </div>
    <div class="col-sm-12" id="alert-area">
        <span id="alert-entry"></span>
    </div>
    <div class="col-sm-12" id="search-area">
        <div class="col-sm-4">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" placeholder="Search" autofocus>
            </div>
        </div>
        <div class="col-sm-8">
            <span>Groups listed: <strong>0</strong></span>
        </div>
    </div>

    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>Group</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>{{tbody}}</tbody>
    </table>

    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal"><span>&times;</span></button>
                    <h4 class="modal-title">Add Group</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group NAME_L_FAIL NAME_FAIL">
                        <label for="name">Group Name</label>
                        <input type="text" class="form-control" id="name">
                    </div>
                    <div class="form-group DESC_L_FAIL">
                        <label for="description">Description</label>
                        <input type="text" class="form-control" id="description">
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary">Add</button>
                </div>
            </div>
        </div>
    </div>

</div>