<div class="ds-group-edit" data-id="{{id}}" data-old="{{name}}">

    <div class="form-group NAME_FAIL NAME_L_FAIL">
        <label for="name">Group Name</label>
        <input value="{{name}}" type="text" class="form-control" id="name">
    </div>
    <div class="form-group DESC_L_FAIL">
        <label for="description">Description</label>
        <input value="{{description}}" type="text" class="form-control" id="description">
    </div>

    <h4>Permissions</h4>
    <hr>

    <form>{{body}}</form>

    <button class="btn btn-primary" id="update">Save Changes</button>
    <button class="btn btn-danger" id="delete">Delete Group</button>

    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal"><span>&times;</span></button>
                    <h4 class="modal-title">Delete Group</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete the group <strong>{{name}}</strong>?</p>
                    <p>
                        Event logs for the group will NOT be deleted and it will be
                        detached from any users
                    </p>
                    <p><i>This cannot be undone!</i></p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">Close</button>
                    <button class="btn btn-danger">Delete Group</button>
                </div>
            </div>
        </div>
    </div>

</div>