<div class="ds-permission-edit">
    <h3>Edit Permission</h3>
    <input value="{{permission}}" type="hidden" id="permission-old">
    <div class="alert alert-warning">
        <i>
            Editing permissions is a low level function that should only be done
            by module developers with a thorough understanding of the effects the changes will have.
            When in doubt, consult the documentation<br /><br />
            Deleting permissions will remove them from any attached users or groups
        </i>
    </div>
    <div class="form-group permission-grp">
        <label for="permission">Permission</label>
        <input value="{{permission}}" type="text" class="form-control" id="permission">
    </div>
    <div class="form-group description-grp">
        <label for="description">Description</label>
        <input value="{{description}}" type="text" class="form-control" id="description">
    </div>

    <button class="btn btn-primary">Update Permission</button>
    <button class="btn btn-danger" data-toggle="modal" data-target="#delete-permission">Delete Permission</button>

    <div class="modal fade" id="delete-permission">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                    <h4 class="modal-title">Delete Permission?</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete the permission <strong>{{permission}}</strong>?</p>
                    <p>
                        Event logs for the permission will NOT be deleted and it will be
                        detached from any users or groups
                    </p>
                    <p><i>This cannot be undone!</i></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger">Delete Permission</button>
                </div>
            </div>
        </div>
    </div>

</div>