<!--suppress ALL -->
<div class="ds-users-list">
    <div class="col-sm-12" id="header-area">
        <h3>Active Users</h3>
        <a href="{{view_href}}" target="_self">View Inactive Users</a>
    </div>
    <div class="col-sm-12" id="search-area">
        <div class="col-sm-4">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" placeholder="Search" autofocus>
            </div>
        </div>
        <div class="col-sm-8">
            <span>Users listed: <strong>0</strong></span>
        </div>
    </div>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>User</th>
                <th>Permission Group</th>
                <th>Last Login</th>
            </tr>
        </thead>
        <tbody>{{tbody}}</tbody>
    </table>
</div>