<div class="ds-user-add">
    <h3>Add New User</h3>
    <div class="form-group user-grp">
        <label for="ds-user">Username (case sensitive)</label>
        <input type="text" class="form-control" id="ds-user">
    </div>
    <div class="form-group password-grp">
        <label for="ds-user-password-1">Password</label>
        <input type="password" class="form-control" id="ds-user-password-1">
    </div>
    <div class="form-group password-grp">
        <label for="ds-user-password-2">Confirm Password</label>
        <input type="password" class="form-control" id="ds-user-password-2">
    </div>
    <div class="form-group">
        <label for="ds-user-status">Status</label>
        <select id="ds-user-status" class="form-control">
            <option value="1">Active</option>
            <option value="0">Inactive</option>
        </select>
    </div>
    <div class="form-group">
        <label for="ds-user-group">Permission Group</label>
        <select id="ds-user-group" class="form-control">
            %DS_USER_GROUP%
        </select>
    </div>
    <button class="btn btn-primary">Add User</button>
</div>